/* Import Font(s) */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* Set all text to use JetBrains Mono. Except the main header. */
h2, h3, h4, h5, h6, p, li, summary {
	font-family: "JetBrains Mono";
	color: white;
	text-align: left;
	margin-bottom: 8px;
	margin-top: 8px;
}

/* Aligns h2 to center, becuase... yeah */
h2 {
	text-align: center;
	box-sizing: border-box;
}

/* Set text sizes */
h1 {
	font-family: "Jersey 10";
	font-size: 144px;
	text-align: center;
	line-height: 0.5;
	margin-top: 35px;
	margin-bottom: 25px;
	
	/* Gradient thingies */
	background: linear-gradient(90deg, #ff3f3f, #f1ac23, #ff3f3f);
	background-size: 200% auto;
	color: white; /* Fallback for browsers that don't support background-clip */
	background-clip: text;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-flow 4s linear infinite;
}

/* Animates the h1 gradient (thanks to codeshack.io) */
@keyframes gradient-flow {
	0% {
    	background-position: 0% center;
  	}
  	100% {
    	background-position: 200% center;
  	}
}

h2 {
	font-size: 24px;
	margin-top: 5px;
	background-image: linear-gradient(90deg, var(--main-color), rgba(0, 0, 0, 0));
	padding: 8px;
	width: 100%;
}

h3 {
	margin-top: 24px;
	margin-bottom: 12px;
}

/* Colors bold text, because why not? */
strong {
    color: var(--main-color);
	text-shadow: 0px 0px /* <- Distance */ 8px /* <- Glow Radius */ var(--main-color) /* <- Glow Color */;
}

body {
	background-image: url(./graphics/pink_lake.jpg);
	/* These are used to make sure the background looks right regardless of window/display size. */
  	background-repeat: no-repeat;
	background-position: center;
  	background-size: cover;
  	background-color: black;
  	
	width: auto;
	height: 100vh;
}

:root {
	/* Basic Site Stuff */
	--site-width: 1000px;
	--bg-color: rgb(21, 21, 21);
	--main-color: rgb(212, 43, 43);
	/* Borders */
	--border-width: 3px;
	--border-style: var(--border-width) solid rgba(21, 21, 21, 0.3);
}

/* Container for the whole page. Probably gonna need... */
.container {
	display: flex;
	justify-content: center;
	width: var(--site-width);
	margin: auto; /* Centers the site apparently. Neat */
}

/* The box at the top of the page. Like a header/nav bar */
.header {
	width: calc(var(--site-width) - calc(2 * var(--border-width)));
	height: auto;
	border: var(--border-style);
	border-bottom: none;
	margin-top: 100px;
	padding-bottom: 4px;
	margin-left: auto;
	margin-right: auto;

	/* Set background to be glass-like transparent */
	background-color: rgb(from var(--bg-color) r g b / .6);
	backdrop-filter: blur(8px);
}

/* The primary content box. Right side of the screen. */
.content {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	height: auto;
	width: 75%;
	border: var(--border-style);
	padding-top: 10px;
	padding-bottom: 25px;
	padding: 20px;

	/* Set background to be glass-like transparent */
	background-color: rgb(from var(--bg-color) r g b / .6);
	backdrop-filter: blur(8px);
}

/* The navbar. Holds subpage links and sits on the left. */
.navbar {
	display: flexbox;
	flex-wrap: wrap;
	height: auto;
	width: 25%;
	border: var(--border-style);
	border-right: none;

	/* Set background to be glass-like transparent */
	background-color: rgb(from var(--bg-color) r g b / 60%);
	backdrop-filter: blur(8px);
}

.navbutton {
	display: block;
	width: 100%;
	height: 24px;
	border-left: 5px solid var(--main-color);
	background-color: none;
	color: white;
	font-family: 'JetBrains Mono';
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	padding: 8px 0px 8px 0px;
	cursor: pointer;
	transition-duration: 0.25s;
}

.navbutton:hover {
	background-color: rgb(from var(--main-color) r g b / 60%);
}

.linkbutton {
	width: 80%;
	display: inline-block;
	background-color: #505050;
	border: 2px solid grey;
	color: white;
	font-family: 'JetBrains Mono';
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	padding: 10px 0px 10px 0px;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 16px;
	cursor: pointer;
	transition-duration: 0.25s;
}

.linkbutton:hover {
	background-color: grey;
}

#sitebutton {
	height: 23px;
	color: black;
	border-color: black;
	resize: none;
	background: rgba(255, 255, 255, 0.5);
	margin-left: 15px;
}

.divbreaker {
	flex-basis: 100%;
	height: 0;
}

.buttoncollection {
	padding: 5px;
}

.outlink {
	margin: 0px 2px 0px 2px;
}

/* Resize site for phones */
@media (max-width: 1000px) {
	.container {
		flex-direction: column;
		width: 100%;
	}

	.header {
		width: 100%;
	}

	.content {
		width: calc(100% - 40px);
	}

	.navbar {
		display: flex;
		flex-direction: row;
		width: 100%;
		border: var(--border-style);
	}

	.navbutton {
		width: calc(33% - 5px);
		padding: 8px 0px 8px 0px;
	}
}